.c{
    height: 100vh;
    position: relative;
}

.c-bg{
    height: 100%;
    width: 20px;
    background-color: #39CCCC;
    position: absolute;
}
.c-wrapper{
    padding: 50px;
    display: flex;
}

.c-left{
    flex: 1;
}

.c-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.c-title{
    font-size: 60px;
    width: 80%;
}

.c-info-item{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.c-icon{
    width: 30;
    height: 30px;
    margin-right: 20px;
}

a{
    color: #39CCCC;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.c-desc{
    font-weight: bold;
    font-size: 30px;
}

form{
    margin-top: 20px;
}

input{
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0;
    font-size: 14px;
    padding-left: 10px;
}

textarea{
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
    padding-left: 10px;
}

button{
    border: none;
    background-color: #39CCCC;
    color: white;
    font-size: 20px;
    padding: 2%;
    cursor: pointer;
}


@media screen and (max-width: 767px) {
    .c-wrapper {
      flex-direction: column;
      padding: 0 50px;
    }
    .c{   
         margin-top: 78px;
    }
    .c-title{
        font-size: 30px;
    }

    
form{
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}
input{
    width: 35%;
    height: 40px;
    
    margin: 10px;
    margin-left: 0;
   
}
button{
    margin-top: 10px;
}

}